#page1.gwd-play-animation .gwd-motion-path-24bk-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["466px", "-86px", "41.48px", "-317.51px", "-44.53px", "-190.04px", "1px", "17px"], "startTimeMs": 0, "endTimeMs": 5000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-24bk-keys-x 5s linear 0s 1 normal forwards running;
  transform:translate3d(466px, 0px, 0px);
}
@keyframes gwd-motion-path-24bk-keys-x {
  0% {
    transform: translate3d(466px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3455, 0.3215, 0.6791, 0.6547);
  }
  60% {
    transform: translate3d(84.15px, 0px, 0px);
  }
  62.5% {
    transform: translate3d(67.71px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1619, 0.5238, 0.35, 1.5686);
  }
  100% {
    transform: translate3d(1px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-24bk-anim-y {
  animation: gwd-motion-path-24bk-keys-y 5s linear 0s 1 normal forwards running;
  transform: translate3d(0px, -86px, 0px);
}
@keyframes gwd-motion-path-24bk-keys-y {
  0% {
    transform: translate3d(0px, -86px, 0px);
    animation-timing-function: cubic-bezier(0.2868, 0.3505, 0.5945, 0.7839);
  }
  47.5% {
    transform: translate3d(0px, -205.2px, 0px);
    animation-timing-function: cubic-bezier(0.5985, -0.3127, 0.8271, 0.5868);
  }
  77.5% {
    transform: translate3d(0px, -133.76px, 0px);
  }
  100% {
    transform: translate3d(0px, 17px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}